$first: #593662;
$second: gold;
$third: white;
$fourth: grey;
$drupal: #593662;

$black: black;
$gold: #fcce5a;
$royal: #002366;
$brown1: #efebe9;
$brown2: #d7ccc8;
$grey3: #eee;

$tenth: #efebe9;

// $screen-xs:                                         480px;
$breakpoints: (
	'sm': 600px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
);
// $screen-xxl:                                        1600px;

$widths: (
	8.33%,
	16.66%,
	25%,
	33.33%,
	41.66%,
	50%,
	58.33%,
	66.66%,
	75%,
	83.33%,
	91.66%,
	100%
);

$col-1: 8.33%;
$col-2: 16.66%;
$col-3: 25%;
$col-4: 33.33%;
$col-5: 41.66%;
$col-6: 50%;
$col-7: 58.33%;
$col-8: 66.66%;
$col-9: 75%;
$col-10: 83.33%;
$col-11: 91.66%;
$col-12: 100%;

$colors: (
   "first": $first,
   "second": $second,
   "third": $third,
   "fourth": $fourth,
   "drupal": $drupal,
	"tenth": $tenth,
	'brown1': $brown1,
	'brown2': $brown2,
	'grey3': $grey3,
	'black': $black,
);

$cols: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

$aligns: (
	'start': flex-start,
	'end': flex-end,
	'center': center,
	'around': space-around,
	'between': space-between,
);

$text-aligns: left, center, right, justify;
$sizes: (
	'n': 0,
	'xs': 2px,
	'sm': 4px,
	'md': 8px,
	'lg': 16px,
	'xl': 32px,
);
$directions: (
	'l': (
		left,
	),
	'r': (
		right,
	),
	't': (
		top,
	),
	'b': (
		bottom,
	),
	'a': (
		left,
		right,
		top,
		bottom,
	),
	'y': (
		top,
		bottom,
	),
	'x': (
		left,
		right,
	),
);
$axes: (
	'x': (
		left,
		right,
	),
	'y': (
		top,
		bottom,
	),
);

$font-sizes: (
	's': small,
	'ss': smaller,
	'sss': x-small,
	'l': large,
	'll': larger,
	'lll': x-large,
);