// @use "sass:map";
@import "substance";
@import "components";
@import "helpers";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header {
	min-height: 18vh;
	// max-height: 18vh;
	background-color: $second;
}

#logo {
	animation-name: logoGlow;
	animation-duration: 1.1s;
	border-radius: 50%;
}

@keyframes logoGlow {
	from {
		box-shadow: 0 0 2px $gold;
	}
	to {
		box-shadow: 0 0 20px 5px $gold;
	}
}

#nav {

	a {
		font-weight: bold;
		color: $tenth;
		opacity: 0.5;

		&:hover:not(.router-link-exact-active) {
			opacity: 0.7;
		}

		&.router-link-exact-active {
			// color: #42b983;
			color: $second;
			opacity: 1;
		}
	}
}

#stage {
	max-width: 100%;
}

#contentArea {
	max-width: 100%;
	max-height: 82vh;
	overflow: scroll;
	border: 4px double $first;

}

#mainTablet {
	min-height: 78vh;
	max-height: 78vh;
}

#left_column {
	background-color: antiquewhite;
	align-items: center;
	order: 3;

	@include desktop-up {
		max-height: 82vh;
  }

	& > div {
		// @include margin-y(5px);
		// @include padding-y(map.get($sizes, 'md'));
		// @include padding-y(map-get($map: $sizes, $key: 'md')); // better way of getting key values from maps
		// background-color: burlywood;
		// min-height: 100px;
		// border: 5px solid $first;
	}
}

table {
	tr > td:first-child {
		background-color: lighten($first, -80%);
	}
}

.f-marck {
	font-family: 'Marck Script', cursive;
	// font-size: 1.5rem;
}

.f-dance {
	font-family: 'Dancing Script', cursive;
	// font-size: 1.5rem;
}

.anime {
	border: 4px double $first;
	box-shadow: 0 0 20px $gold;
	background-color: black;
}