html {
   box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
   min-height: 100vh;
   box-sizing: border-box;
}

#app {
	min-height: 100vh;
	max-width: 100%;

	// & > main {
	// 	// width: 100%;
   //    min-height: 100vh;
   //    overflow: hidden;
	// 	// flex: 0 0 100%;
	// }
}

.d-flex {
	display: flex;
}

.row {
	display: flex;
	flex-flow: row wrap;

	/* 
      Sets up all breakpoints for columns on different screen sizes
   */
	@each $bp, $pixel in $breakpoints {
		@media only screen and (min-width: $pixel) {
			@each $num in $cols {
				& > .col-#{$bp}-#{$num} {
					// flex-grow: $num;
					flex-basis: nth($widths, $num);
				}
			}
		}
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: map-get($map: $breakpoints, $key: 'sm')) {
	.row {
		flex-direction: column;
	}
	/* For mobile phones: */
	[class*='col-'] {
		width: 100%;
	}
}

.column {
	display: flex;
	flex-direction: column;

	&.items-x-center {
		align-items: center;
	}
}

@each $align, $value in $aligns {
	.items-x-#{$align} {
		justify-content: $value;
	}

	.items-y-#{$align} {
		align-content: $value;
	}
}

.self-end {
	align-self: flex-end;
}

.w-100 {
	width: 100%;
}

img, video {
	max-width: 100%;
}

table {
	width: 100%;
}